@model SchoolManagementSystem.Models.NominationsViewModel
<div class="box box-primary" ng-controller="NominationsCtrl as ctrl">
    <div class="box-header with-border">
        <h2 class="box-title">NOMINATION FOR NATIONAL HONOURS FORM</h2>
    </div>
    <div class="box-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="box-body">
                <div class="form-horizontal">
                    <div class="col-md-12">
                        <div class="tab-content">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#home">Personal Information</a></li>
                                <li><a data-toggle="tab" href="#menu2">Other Details</a></li>
                                <li><a data-toggle="tab" href="#menu3">Citations</a></li>
                                <li><a data-toggle="tab" href="#menu4">Attachments</a></li>
                                <li><a data-toggle="tab" href="#menu5">Complete</a></li>
                            </ul>
                            <div id="home" class="tab-pane fade in active">
                                <h3>PERSONAL INFORMATION</h3>

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.Nomination.NominatingBodyId, "Nomination Body:", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownList("NominationBodyId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Nomination.NominatingBodyId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.Nomination.NominationPeriodId, "Nomination Period:", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownList("NominationPeriodId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Nomination.NominationPeriodId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.Nomination.Nationality, "Nationality:", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownList("NationalityId", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.Nomination.IdNumber, "ID Number / Passport No:", htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Nomination.IdNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nomination.IdNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.Nomination.CountyOfBirth, "County of Birth:", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownList("CountyOfBirthId", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.Nomination.Country, "Country of Birth:", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownList("CountryId", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Home County:</label>
                                        @Html.DropDownList("CountyId", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Sub-County Name:</label>
                                        @Html.DropDownList("SubCountyId", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Nomination.WardId, "Ward Name:", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownList("WardId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Nomination.WardId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Nomination.Location, "Location:", htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Nomination.Location, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nomination.Location, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Nomination.SubLocation, "Sub Location:", htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Nomination.SubLocation, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nomination.SubLocation, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Nomination.Village, "Village:", htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Nomination.Village, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nomination.Village, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Nomination.SalutationId, "Salutation:", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownList("SalutationId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Nomination.SalutationId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Nomination.Surname, "SurName:", htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Nomination.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nomination.Surname, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Nomination.OtherNames, "Other Names:", htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Nomination.OtherNames, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nomination.OtherNames, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Nomination.DateOfBirth, "Date of Birth:", htmlAttributes: new { @class = "control-label" })
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.EditorFor(model => model.Nomination.DateOfBirth, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Nomination.DateOfBirth, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Nomination.MobileNumber, "Mobile Number:", htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Nomination.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nomination.MobileNumber, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Nomination.EmailAddress, "Email Address:", htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Nomination.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nomination.EmailAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Nomination.PostalAddress, "Postal/Organization/Business Address:", htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Nomination.PostalAddress, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nomination.PostalAddress, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Nomination.PostalCode, "Postal Code:", htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Nomination.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nomination.PostalCode, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Nomination.Town, "Town:", htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Nomination.Town, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nomination.Town, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="control-label"></label><br />
                                        <a data-toggle="tab" href="#menu2" class="btn btn-sm btn-warning pull-right">Next >>></a>
                                        <a href="@Url.Action("Index","Nominations")" class="btn btn-sm btn-warning pull-left"><<< Back to List</a>
                                    </div>
                                </div>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <h3>OTHER DETAILS</h3>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label">Highest Academic Qualification:</label>
                                        @Html.DropDownList("AcademicQualificationId", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.Nomination.Occupation, "Occupation:", htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownList("OccupationId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Nomination.OccupationId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">
                                        @* <label class="control-label">Previous Awards of Honor:</label>*@
                                        <input class="form-control" type="text" ng-change="ctrl.SearchPreviousAwards()" ng-model="ctrl.SearchNameId" name="SearchPreviousAwards" id="SearchPreviousAwards" placeholder="Search by Name/ID Number from Role of Honor..." />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <table id="nominationsPrevAwards" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Awardee Name</th>
                                                    <th>ID Number</th>
                                                    <th>Award</th>
                                                    <th>Date of Award</th>
                                                    <th>Select</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ctrl.searchresults">
                                                    <td>{{item.Name}}</td>
                                                    <td>{{item.IdNumber}}</td>
                                                    <td>{{item.Medal.Name}}</td>
                                                    <td>{{item.ConfirementDate.slice(6,-2) | date:'dd-MMM-yyyy' }}</td>
                                                    <td><input type="checkbox" /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label class="control-label">Recommended Medal Of Honor</label>
                                        @Html.DropDownList("MedalId", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <a data-toggle="tab" href="#home" class="btn btn-sm btn-warning pull-left"><<< Previous</a>
                                        <a data-toggle="tab" href="#menu3" class="btn btn-sm btn-warning pull-right">Next >>></a>
                                    </div>
                                </div>
                            </div>

                            @*
                                <div id="menu3" class="tab-pane fade">
                                    <h3>NOMINEE CITATIONS (ACHIEVEMENTS)</h3>
                                    <div class="home-border">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                @Html.LabelFor(model => model.NomineeRecords.RecordTypeId, "Record Type:", htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownList("RecordTypeId", null, htmlAttributes: new { @class = "form-control", @ng_model = "ctrl.recordtype" })
                                                @Html.ValidationMessageFor(model => model.NomineeRecords.RecordTypeId, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.LabelFor(model => model.NomineeRecords.Organisation, "Organisation:", htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.NomineeRecords.Organisation, new { htmlAttributes = new { @class = "form-control", @ng_model = "ctrl.organisation" } })
                                                @Html.ValidationMessageFor(model => model.NomineeRecords.Organisation, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="col-md-6">
                                                @Html.LabelFor(model => model.NomineeRecords.StartDate, "Start Date:", htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.NomineeRecords.StartDate, new { htmlAttributes = new { @class = "form-control", @ng_model = "ctrl.startdate" } })
                                                @Html.ValidationMessageFor(model => model.NomineeRecords.StartDate, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.LabelFor(model => model.NomineeRecords.EndDate, "End Date:", htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.NomineeRecords.EndDate, new { htmlAttributes = new { @class = "form-control", @ng_model = "ctrl.enddate" } })
                                                @Html.ValidationMessageFor(model => model.NomineeRecords.EndDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.NomineeRecords.Narration, "Narration:", htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.NomineeRecords.Narration, new { htmlAttributes = new { @class = "form-control", @rows = 7, @ng_model = "ctrl.narration" } })
                                                @Html.ValidationMessageFor(model => model.NomineeRecords.Narration, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label"></label><br />
                                                <input type="button" value="Add Record" class="btn btn-warning pull-success"
                                                       ng-enabled="if(rec.recordtype && rec.organisation && rec.startdate && rec.narration)" ng-click="ctrl.AddCitationRecord()" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div id="table">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Record Type</th>
                                                        <th>Organisation</th>
                                                        <th>Start Date</th>
                                                        <th>End Date</th>
                                                        <th>Narration</th>
                                                        <th>Remove</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="rec in ctrl.addedCitationRecords">
                                                        <td>{{rec.recordtype}}</td>
                                                        <td>{{rec.organisation}}</td>
                                                        <td>{{rec.startdate}}</td>
                                                        <td>{{rec.enddate}}</td>
                                                        <td>{{rec.narration}}</td>
                                                        <td><a ng-click="ctrl.RemoveCitationRec(rec)">Remove</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <a data-toggle="tab" href="#menu2" class="btn btn-sm btn-warning pull-left"><<< Previous</a>
                                            <a data-toggle="tab" href="#menu4" class="btn btn-sm btn-warning pull-right">Next >>></a>
                                        </div>
                                    </div>
                                </div>
                            *@

                            <div id="menu4" class="tab-pane fade">
                                <h3>Attachments</h3>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label class="control-label">Attachment Type:</label>
                                        @Html.DropDownList("AttachmentTypeId", (IEnumerable<SelectListItem>)ViewBag.AttachmentTypeId, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-3">
                                        <br />
                                        <input type="file" name="attachment" />
                                    </div>
                                    <div class="col-md-5">
                                        <label class="control-label"></label><br />
                                        <input type="submit" value="Add Attachment" class="btn btn-warning pull-success pull-left" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div id="table">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Attachment Type</th>
                                                        <th>Attachment Document</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Identity Card</td>
                                                        <td><a href="#">Mwadwaa - Identity Card</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Highest Academic Certificate</td>
                                                        <td><a href="#">Mwadwaa - Highest Academic Certificate</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Appointment Letter</td>
                                                        <td><a href="#">Mwadwaa - Appointment Letter</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <a data-toggle="tab" href="#menu3" class="btn btn-sm btn-warning pull-left"><<< Previous</a>
                                        <a data-toggle="tab" href="#menu5" class="btn btn-sm btn-warning pull-right">Next >>></a>
                                    </div>
                                </div>
                            </div>
                            <div id="menu5" class="tab-pane fade">
                                <h3>Complete</h3>
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <p>By clicking submit I confirm that the information given above is true to the best of my knowledge and understanding.</p>
                                        <a data-toggle="tab" href="#menu4" class="btn btn-sm btn-warning pull-left"><<< Previous</a>
                                        <input type="submit" value="Submit Form" class="btn btn-primary pull-right" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="box-footer">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Submit Nomination" class="btn btn-primary pull-right" />
                        </div>
                    </div>
                </div>*@
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@*<script>
        //$(document).ready(function () {
        //    $('#nominationsPrevAwards').DataTable();
        //});
    </script>*@
